# Firebase config for Vite
VITE_FIREBASE_API_KEY=AIzaSyAriElO5tvuWrDJTyQXnxDRKnlHDASsHJc
VITE_FIREBASE_AUTH_DOMAIN=guff-1d17e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=guff-1d17e
VITE_FIREBASE_STORAGE_BUCKET=guff-1d17e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=973034159993
VITE_FIREBASE_APP_ID=1:973034159993:web:be5dae0df211b1dd6039a8
